.dropdown {
	&-button {
		color: #b2b1a6;
		font-size: 14px;
		border-color: #f02a64;
		background: white;
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		width: 215px;
		height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-button-1 {
		color: #b2b1a6;
		font-size: 14px;
		border-color: #f02a64;
		background: white;
		border-right: 0px;
		border-radius: 0px;
		width: 215px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
