.home-content {
	padding-top: 30px;

	&-wapper {
		.item-1 {
			background: url(../../assets/images/motifs.svg);
			padding-left: 104px;
			padding-right: 104px;

			.card-item {
				&-1 {
					margin-bottom: 15px;

					.title {
						font-size: 36px;
						color: #5a555a;
						font-family: 'Oswald', sans-serif;
					}
				}

				.footer {
					display: flex;
					justify-content: space-between;
					margin-top: 13px;

					&-item-1 {
						display: flex;

						.test {
							font-size: 16px;
							color: #000000;
							margin-left: 8px;
						}
					}

					&-item {
						.star-1 {
							color: #ffd23f;
						}

						.star-2 {
							color: #ffb340;
						}

						.star-3 {
							color: #ff9340;
						}

						.star-4 {
							color: #ff7340;
						}

						.star-5 {
							color: #ff7340;
						}
					}
				}
			}

			.card-item-2 {
				margin-top: 30px;
				padding-bottom: 30px;
			}

			.button-organisez {
				display: flex;
				justify-content: center;
				padding-top: 60px;
				padding-bottom: 60px;
			}
		}

		.item-2 {
			background: #f5f5eb;
			margin-top: 30px;
			margin-bottom: 30px;
			padding-right: 104px;
		}
		.item-3 {
			background: #f5f5eb;
			margin-top: 30px;
			margin-bottom: 30px;
			padding-right: 104px;
		}

		.item-4 {
			background: #f5f5eb;
			margin-top: 30px;
			margin-bottom: 30px;
			padding-right: 104px;
		}

		@media screen and (max-width: 575px) and (min-width: 320px) {
			.item-1 {
				padding-left: 20px;
				padding-right: 20px;

				.card-item {
					.card-content {
						background: white;

						&-bottom {
							.content {
								&-left {
									width: 100%;
								}

								&-right {
									display: none;
								}
							}
						}
					}

					.footer {
						&-item {
							display: none;
						}
					}
				}
			}

			.item-2 {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
