.card-item-2 {
	.card-content {
		background: white;
		position: relative;

		.avatar {
			border-radius: 50%;
			position: absolute;
			top: 20px;
			left: 20px;
		}

		&-img {
			width: 100%;
		}

		&-bottom {
			padding: 10px 20px 15px;
			.title {
				font-size: 14px;
				text-transform: uppercase;

				&-left {
					color: #000000;
				}

				&-right {
					color: white;
					background: #00abe7;
					padding: 2px 8px;
					margin-left: 10px;
				}
			}

			.content {
				display: flex;
				justify-content: space-between;

				&-left {
					width: 100%;

					&-description {
						font-size: 21px;
						color: #000000;
						line-height: 33px;
						width: 100%;
						margin-bottom: 0;
						margin-top: 0;
						height: 66px;
					}

					.footer {
						display: flex;
						justify-content: space-between;
						margin-top: 5px;

						&-item-1 {
							display: flex;

							.test {
								font-size: 16px;
								color: #000000;
								margin-left: 8px;
							}
						}

						&-item {
							.star-1 {
								color: #ffd23f;
							}

							.star-2 {
								color: #ffb340;
							}

							.star-3 {
								color: #ff9340;
							}

							.star-4 {
								color: #ff7340;
							}

							.star-5 {
								color: #ff7340;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 1200px) and (min-width: 320px) {
			&-bottom {
				.content {
					&-left {
						&-description {
							height: auto;
						}
					}
				}
			}
		}
	}
}
