.card-2 {
	display: flex;

	.card-right {
		display: flex;
		justify-content: center;
		&-image {
			width: 100%;
		}
	}

	.content {
		padding-top: 70px;
		padding-bottom: 90px;
		.title {
			font-size: 35px;
			font-family: 'Oswald', sans-serif;
			display: flex;
			justify-content: center;
		}

		.description {
			font-size: 16px;
			color: #000000;
			margin-top: 10px;
			margin-bottom: 25px;
			padding-left: 21%;
			padding-right: 21%;
			text-align: center;
		}
	}
	&-button {
		display: flex;
		justify-content: center;
	}
}
