.card-content {
	background: white;

	&-img {
		width: 100%;
	}

	&-bottom {
		padding: 20px;

		.title {
			font-size: 14px;
			text-transform: uppercase;

			&-left {
				color: #000000;
			}

			&-right {
				color: white;
				background: #00abe7;
				padding: 2px 8px;
				margin-left: 10px;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;

			&-left {
				width: 65%;

				&-description {
					font-size: 21px;
					color: #000000;
					line-height: 33px;
					width: 100%;
					margin-bottom: 0;
					margin-top: 4px;
					height: 66px;
				}
			}

			&-right {
				text-align: center;
				display: 'flow-root';
				padding-top: 7px;

				.avatar {
					border-radius: 50%;
				}

				.test {
					font-size: 18px;
					color: #000000;
					line-height: 24px;
					margin-bottom: 0;
					margin-top: 5px;
				}

				.footer-item {
					margin-top: 5px;
				}
			}
		}
	}

	@media screen and (max-width: 1200px) and (min-width: 320px) {
		&-bottom {
			.content {
				&-left {
					&-description {
						height: auto;
					}
				}
			}
		}
	}
}
