.btn:focus {
  box-shadow: 0px !important;
}

.btn-primary:focus {
  box-shadow: 0px !important;
}

.btn-primary:focus {
  box-shadow: 0px !important;
}

.button:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  transform: scaleX(1.1) scaleY(1.1);
}

.localisation-button {
  color: #b2b1a6;
  font-size: 14px;
  border-color: #f02a64;
  background: white;
  border-right: 0px;
  border-radius: 0px;
  width: 215px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}