.datepicker {
  position: relative;
  &-content {
    color: #b2b1a6;
    font-size: 14px;
    border-color: #f02a64;
    // background: white;
    border: 1px solid #f02a64;

    border-right: 0px;
    // border-radius: 0px;
    width: 155px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
  }

  &-img{
    position: absolute;
    right: 12px;
    top: 21px
  }

}