.home {
	.icon-menu {
		color: white;
	}

	.navbar {
		background-color: transparent !important;

		.navbar-toggler {
			background-color: white !important;
		}
	}

	.header {
		background: url(../assets/images/banner.png);
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 585px;

		.menu {
			padding-top: 1.9rem;
			padding-left: 1rem;
			padding-right: 1rem;

			.collapse {
				justify-content: flex-end;
			}

			.header-menu {
				ul {
					margin-right: 3rem;

					.active {
						background: #dce1d7;
						border-radius: 0.5rem;
					}

					li {
						display: flex;
						width: 129px;
						justify-content: center;

						.header-menu-item {
							font-size: 1rem;
							color: #ffffff;
						}

						.active {
							color: black;
						}
					}
				}
			}
		}

		.content {
			color: white;
			display: flex;
			justify-content: center;
			padding-top: 4.2rem;

			span {
				width: 38rem;
				text-align: center;
				font-size: 2.2rem;
				line-height: 3rem;
			}
		}

		.button {
			display: flex;
			justify-content: center;
			margin-top: 2.5rem;
		}

		&-dropdown {
			margin-top: 80px;
			display: flex;
			justify-content: center;

			@media screen and (max-width: 575px) {
				display: none;
			}
		}
	}
}

.dropdown-toggle::after {
	display: none;
}
